@import '../global/1-settings';
@import '../global/2-mixins';

.article {
    @include container();
    text-align: center;
    padding-top: 2rem;

    @media (min-width: 768px) {
        padding-top: 0px;
    }
    
    @media (min-width: 1024px) {
        text-align: left;
    }
}



/*
    hero
*/
.hero  {
    position: relative;
    width: 100%;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(6,minmax(0,1fr));
        gap: 2rem;
        @include py($space_45xl);
    }

    &__image {
        width: 100%;
        
        @media (min-width: 1024px) {
            grid-column: 1 / span 1;
        }
    }
    
    &__text {
        @media (min-width: 1024px) {
            grid-column: 2 / span 5;
        }
    }
    
    &__title {
        position: relative;
        overflow: hidden;
        padding-bottom: 1rem;
        @include hero-berry();
        @include text-huge();
        @media (min-width: 1024px) {
            @include text-hero3();
        }
    }
    
    &__introDescription {
        margin-top: 2rem;
    }
}



/*
    intro
*/
.intro {
    position: relative;
    
    @media (min-width: 768px) {
        @include py($space_35xl);
    }
    
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(6,minmax(0,1fr));
        gap: 2rem;
    }

    &__text {
        @media (min-width: 1024px) {
            grid-column: 3 / span 3;
        }
    }
}



/*
    tech
*/
.tech {
    position: relative;
    
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(6,minmax(0,1fr));
        gap: 2rem;
        @include py($space_35xl);
    }

    &__text {
        @media (min-width: 1024px) {
            grid-column: 2 / span 3;
        }
    }
}



/*
    next
*/
.next {
    position: relative;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(6,minmax(0,1fr));
        gap: 2rem;
        @include py($space_35xl);
    }


    &__text {
        @media (min-width: 1024px) {
            grid-column: 3 / span 3;
        }
    }
}