$container_width: 1200px;



/*
    Grid
*/
$grid_cols: 12;
$grid_col_gap: 30px;
$grid_row_gap: 30px;



/*
    Spacings/sizes
*/
$space_3xs: 0.12rem;
$space_2xs: 0.25rem;
$space_xs: 0.5rem;
$space_s: 0.75rem;
$space_m: 1rem;
$space_l: 1.5rem;
$space_xl: 2rem;
$space_2xl: 3rem;
$space_3xl: 4rem;
$space_35xl: 6rem;
$space_4xl: 8rem;
$space_45xl: 10rem;
$space_5xl: 12rem;
$space_55xl: 14rem;
$space_6xl: 16rem;



/*
    Colors
*/
$color_fushsia: #e879f9;
$color_violet: #5b21b6;
$color_lime: #bef264;